.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffba3c;

  /* Because we want header to be sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}

.logo {
  height: 12rem;
  width: 20rem;
  object-fit: cover;
  padding:1.6rem;
}

/**************************/
/* NAVIGATION */
/**************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* STICKY NAVIGATION */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}


/*Nav bar
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #ffba3c;

}
.logo img, footer img {
   
    object-fit: cover;
    width: 20rem;
    padding:1.2rem;
    padding-bottom:1.6rem;
  height: 10rem;
}
.nav-bar .nav {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 2.4rem;
    font-size: 1.6rem;
    font-weight: 500;
}
.menu{
    margin-right: 1.6rem;
  
    text-transform: uppercase;
    color: black;
    font-size: 18px;
}

.menu:link, .menu:visited {
    text-decoration: none;
    color: #333;
    transition: all 0.1s;
}

.menu:hover, .menu:active {
    text-decoration: none;
    color: white;
    border-bottom: 3px solid currentColor;
}*/
/*Hero section*/
.hero {
    background-image: url("../img/hero-img.jpg");
    background-repeat: no-repeat;
    height: 85vh;
    width: 100%;
    background-position: center;
    position: relative;
    bottom: 1rem;
    background-size: cover;
    color: black;
    margin: 0;
}
.hero-desc {
  background-color: rgba(255, 255, 255,0.6);
  position: relative;
  height: 40vh;
  top: 35%;
  width: 50%;
  color: black;
  left: 30%;


   
}
.hero-desc h1 {
  padding-left: 3.2rem;
  padding-top: 3.2rem;
  padding-bottom: 1.2rem;
    font-size: 4.4rem;
   
    line-height: 1.05;
    letter-spacing: -0.1rem;
}
.hero-desc p {
    font-size: 1.8rem;
 
   padding-left: 3.2rem;
  
   padding-bottom: 2.4rem;
}
.hero-desc a {
  display: inline-block;
   
  margin-left: 30%;
 
  margin-bottom: 1.6rem;
 
  background-color: black;
  padding: 1.2rem 1.8rem;
  border-radius: 30px;
  text-decoration: none;
  
  font-size: 1.8rem;
  color: white;
}
/*Features */

.heder-fetures {
    text-align: center;
    font-size: 2.4rem;
    margin-bottom: 4.8rem;
}
.features-content {
  width:60%;

   
   
}
.features-content .div-img {
  
    height: 70%;
    width: 70%;
}
.features-content img {
   object-fit: cover;
    height: 100%;
    width: 100%;
}
.features-content content {
  width: 100%;
  height: 100%;
  
}
.features-content p {
    font-size: 1.6rem;
  

}
.features-content h3 {
    padding-bottom: 1rem;
    color: #ffba3c;
    font-size: 1.8rem;
}
.row-feature {
  display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}
.row-feature-content{
  padding: 1rem;
}
/*Class */
.classes{
 
  display: flex;
justify-content: center;
height: 100vh; 
width: 100%;
gap: 2.4rem;

 
}
figure{
  position: relative;
  width: 30%;
  height: 95vh;

  box-shadow: 0px 10px 15px rgba(0  ,0, 0, 0.05);
  border-radius: 10px;

}
figure:hover{

}

.classes img{
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
  height: 50vh;
  margin-bottom: 0px;
 }
 .classes h3{
   width: 100%;
   height: 8vh;
   text-align: center;
   margin-top: 0px;
   background-color:#FFBA3C;
   padding-top: 1.6rem;
   font-size: 1.8rem;
 }
 figure .div-button {
    position: relative;
    left: 8%;
 }
 figure div a{
   
  
   display: inline-block;
   bottom: 1.6rem;
   text-decoration: none;
   
   background-color: black;
   color: white;
   padding: 1.4rem 2rem;
   border: none;
   cursor: pointer;
   width: auto;
   opacity: 0.9;
   border-radius: 30px;
   margin-left: 10rem;
   margin-bottom: 2rem;
   font-size: 1.6rem;

 
 }
 figure a:hover{
   background-color: #f1f1f1;
   border: 2px solid #FFBA3C;
   color: black;
 }

 .clases-col{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   font-size: 1.6rem;
   padding: 2.4rem;



 
 }
 .clases-col p,h4 {
   padding-bottom: 1rem;
 }
 
 @media screen and (max-width:600px) {
  figure{
    width: 100%;
  }
}



  /**facts*/
  .facts{
      background-color: #ffba3c;
      height: auto;
      padding-bottom: 6.4rem;
  
      
      color: white;
      text-align: center;
  }
  .facts h1 {
      text-align: center;
      padding-bottom: 1.6rem;
      font-size: 6rem;
  }
  .facts h2{
    font-size: 2.4rem;
    padding-bottom: 4.4rem;
    padding-top: 6.4rem;

  }
  .facts h3 {
    padding: 1rem;
    font-size: 1.8rem;
  }



.gallery-body {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 1.5rem;
}
.gallery-header {
  text-align: center;
  font-size: 2.4rem;
  margin-top: 4.4rem;
  margin-bottom: 2.4rem;
  background-color: white;
}
.gallery-body img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3;
}
.gallery-body img:hover{
    transform: scale(1.05);
   
}
.gallery-img-1 {
    grid-column: 1/3;
    grid-row: 1/3;

}
.gallery-img-2 {
    grid-column: 3/5;
    grid-row: 1/3;
}
.gallery-img-3 {
    grid-column: 5/9;
    grid-row: 1/6;
}

.gallery-img-4 {
    grid-column: 1/5;
    grid-row: 3/6;
}
.gallery-img-5 {
    grid-column: 1/5;
    grid-row: 6/9;
}
.gallery-img-6 {
    grid-column: 5/9;
    grid-row: 6/9;
}
.gallery-footer a{
 
  margin:  6.4rem;

  background-color: black;
  padding: 1.2rem 1.8rem;
  border-radius: 30px;
  text-decoration: none;

  font-size: 1.8rem;
  color: white;

}
/*Testimonails*/
.testimonials div {
  text-align: center;
}
.testimonials h2 {
  font-size: 3.6rem;
  padding-bottom: 2.4rem;
  text-align: center;
}
.testimonials img {
  width: 50%;
  height: 50%;
  object-fit: cover;
  border-radius: 100%;
  margin: 1.8rem;
  margin-left: 4.4rem;
  
} 
.testimonials p {
padding: 2rem;
font-size: 1.6rem;
}
.testimonials-content {

}
.testimonials h3 {
  font-size: 1.8rem;
  padding-bottom: 1.6rem;
  text-align: center;
}
 /*Form message*/
.bg-img {
  margin-top: 0px;
  /* The image used */
  background-image: linear-gradient(rgba(0, 0, 0,0.3),rgba(0, 0, 0,0.2)), url("../img/pexels-alexander-dummer-1912868.jpg");

  min-height: 48rem;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Add styles to the form container */
.form {
  position: absolute;
  left: 0;
  height: 60vh;
  margin: 2rem;
  max-width: 35rem;
  padding: 1.6rem;
  top: 3.2rem;  
  background-color:#FCFCFC;
  border-radius: 10px;
  box-shadow: 0px 10px 15px rgba(0  ,0, 0, 0.1);
}

/* Full-width input fields */
input[type=text], input[type=text] ,textarea{
  width: 100%;
  padding: 15px;
  margin: 0.5rem 0 2.2rem 0;
  border: none;
  background: #f1f1f1;
  border-radius: 30px;
}

input[type=text]:focus{
  background-color: #ddd;
  outline: none;
}
.form h1{
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 2rem;
}
.btn-msg {
  background-color: black;
  color: white;
  padding: 1.6rem 2rem;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 30px;
}

.btn-msg:hover {
  opacity: 1;
  border: #FFBA3C solid 2px;
  color: black;
  background-color: #f1f1f1;
}