
/* @media only screen and (min-width: 1200px) {

    .hero {
        width: 100%;
      
    }
    .hero-desc {
        width: 50%;
        
    }
}
@media only screen and (min-width: 992px) {
    .hero {
        width: 100%;
      
    }
    .hero-desc {
        width: 50%;
     
    }
}
@media only screen and (min-width: 768px) {
       .hero {
        width: 100%;
      
    }
    .hero-desc {
        width: 50%;
      
    }
}
@media only screen and (min-width: 600px) {
    .hero {
        width: 100%;
      
    }
    .hero-desc {
        width: 50%;
        height: auto;
    }
}
 
@media only screen and (max-width: 600px) {
    .hero {
        width: 100%;
      
    }
    .hero-desc {
        width: 50%;
        height: 60vh;
    }
}



Medium devices (landscape tablets, 768px and up) 

*/
/* Large devices (laptops/desktops, 992px and up) 

/* Extra large devices (large laptops and desktops, 1200px and up) */
/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/

@media (max-width: 84em) {
  
    .hero {
        width: 100%;
      
    }
    .hero-desc {
        width: 50%;
        height: auto;
    }
    .heder-fetures {
        text-align: center;
        font-size: 2.4rem;
        margin-bottom: 4.8rem;
    }
 
    .features-content .div-img {
        height: 70%;
        width: 70%;
    }
    .features-content img {
        height: 100%;
        width: 100%;
    }
    .features-content content {
      width: 100%;
      height: 100%;
    }
    .features-content p {
        font-size: 1.6rem;    
    }
    .features-content h3 {
        padding-bottom: 1rem;
        font-size: 1.8rem;
    }
    .classes{
 
        display: flex;
      justify-content: center;
      height: 100vh; 
      width: 100%;
      gap: 2.4rem;
      
       
      }
      figure{
        position: relative;
        width: 30%;
        height: 95vh;
      
        box-shadow: 0px 10px 15px rgba(0  ,0, 0, 0.05);
        border-radius: 10px;
      
      }
      figure:hover{
      
      }
      
      .classes img{
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        object-fit: cover;
        height: 50vh;
        margin-bottom: 0px;
       }
       .classes h3{
         width: 100%;
         height: 8vh;
         text-align: center;
         margin-top: 0px;
         background-color:#FFBA3C;
         padding-top: 1.6rem;
         font-size: 1.8rem;
       }
       figure .div-button {
          position: relative;
          left: 8%;
       }
       figure div a{
         
        
         display: inline-block;
         bottom: 2.6rem;
       
         padding: 1.2rem 1.8rem;
      
         margin-left: 10rem;
         margin-bottom: 2rem;
         font-size: 1.6rem;
      
       
       }
     
      
       .clases-col{
       
         font-size: 1.6rem;
         padding: 2.4rem;  
      
      
       
       }
       .clases-col p,h4 {
         padding-bottom: 1rem;
       }
       
 
  }
  
  /**************************/
  /* BELOW 1200px (Landscape Tablets) */
  /**************************/
  
  @media (max-width: 75em) { 
    html {
      /* 9px / 16px  */
      font-size: 56.25%;
    } 
    .header {
   
        width: 100%;
      
    
    }
    .logo img, footer img {
       
     
        width: 20rem;
        padding:1.2rem;
        padding-bottom:1.6rem;
      height: 10rem;
    }
  
    .menu{
        margin-right: 1.6rem;
      
      
        font-size: 1.6rem;
    }
    
 
  
    .hero {
        width: 100%;
      
    }
    .hero-desc {
        width: 50%;
        height: auto;
    }
    .heder-fetures {
        text-align: center;
        font-size: 2.4rem;
        margin-bottom: 4.8rem;
    }
 
    .features-content .div-img {
        height: 70%;
        width: 70%;
    }
    .features-content img {
        height: 100%;
        width: 80%;
    }
    .features-content content {
      width: 80%;
      height: 100%;
    }
    .features-content p {
        font-size: 1.6rem;    
    }
    .features-content h3 {
        padding-bottom: 1rem;
        font-size: 1.8rem;
    }
    .grid-3 {
        grid-template-columns: repeat(2,1fr);
    }
    .grid {
       
        row-gap: 0rem;
        column-gap: 0rem;
        }
     
   
          .facts{
       
            height: auto;
            padding-bottom: 6.4rem;
            width: 100%;
        
        }
   
  }
  @media (max-width:1050px) {
      html {
        font-size: 56.25%;

      }
     
    .heder-fetures {
        text-align: center;
        font-size: 2.4rem;
        margin-bottom: 4.8rem;
    }
 
    .features-content .div-img {
        height: 70%;
        width: 70%;
    }
    .features-content img {
        height: 100%;
        width: 80%;
    }
    .features-content content {
      width: 80%;
      height: 100%;
    }
    .features-content p {
        font-size: 1.6rem;    
    }
    .features-content h3 {
        padding-bottom: 1rem;
        font-size: 1.8rem;
    }
    .container {
        width: 120rem;
        margin: 0 auto;
    }
    .grid {
        justify-content: flex-start;
    }
  }

  /**************************/
  /* BELOW 944px (Tablets) */
  /**************************/
  
  @media (max-width: 59em) {
      
    html {
        /* 8px / 16px = 0.5 = 50% */
        font-size: 50%;
      }
      .hero {
          width: 100%;
        
      }
      .hero-desc {
          width: 50%;
          height: auto;
      }
    .header {
   
        width: 100%;
      
    
    }
    .logo img, footer img {
       
     
        width: 20rem;
        padding:1.2rem;
        padding-bottom:1.6rem;
      height: 10rem;
    }
  
    .menu{
        margin-right: 1.6rem;
      
      
        font-size: 1.6rem;
    }
    .facts{
       
        height: auto;
        padding-bottom: 6.4rem;
        width: 100%;
    
    }
 
  
   
    
  }
  @media (max-width: 890px){
      .grid {
          column-gap: 0;

      }
      
  }
  
  /**************************/
  /* BELOW 704px (Smaller tablets) */
  /**************************/
  
  @media (max-width: 44em) {
    .header {
   
        width: 100%;
      
    
    }
    .logo img, footer img {
       
     
        width: 20rem;
        padding:1.2rem;
        padding-bottom:1.6rem;
      height: 10rem;
    }
  
    .menu{
        margin-right: 1.6rem;
      
      
        font-size: 1.6rem;
    }
    
 

    .hero {
        width: 100%;
      
    }
    .hero-desc {
        width: 50%;
        height: auto;
    }

    .facts{
       
        height: auto;
        padding-bottom: 6.4rem;
        width: 100%;
    
    }
  }
  @media (max-width: 681px){
    .facts{
       
        height: auto;
        padding-bottom: 6.4rem;
        width: 100%;
    
    }
    .grid-4 {
        grid-template-columns: repeat(2,1fr);
    }
      
  }
  
  /**************************/
  /* BELOW 544px (Phones) */
  /**************************/
  
  @media (max-width: 34em) {
    .header {
    
        width: 100%;
       
    
    }
    .logo img, footer img {
       
        object-fit: cover;
        width: 20rem;
        padding:1.2rem;
        padding-bottom:1.6rem;
      height: 10rem;
    }
    .nav-bar .nav {
    
        align-items: center;
     
        gap: 1.2rem;
        font-size: 1.2rem;
    
    }
    .menu{
        margin-right: 1.6rem;
     
        font-size: 1.8rem;
    }
    .hero {
        width: 100%;
      
    }
    .hero-desc {
        width: 50%;
        height: auto;
    }
    .hero-desc h1 {
        padding: 2.4rem;
    }
    .facts{
       
        height: auto;
        padding-bottom: 6.4rem;
        width: 100%;
    
    }


  }
  