
/* @media only screen and (min-width: 1200px) {

    .hero {
        width: 100%;
      
    }
    .hero-desc {
        width: 50%;
        
    }
}
@media only screen and (min-width: 992px) {
    .hero {
        width: 100%;
      
    }
    .hero-desc {
        width: 50%;
     
    }
}
@media only screen and (min-width: 768px) {
       .hero {
        width: 100%;
      
    }
    .hero-desc {
        width: 50%;
      
    }
}
@media only screen and (min-width: 600px) {
    .hero {
        width: 100%;
      
    }
    .hero-desc {
        width: 50%;
        height: auto;
    }
}
 
@media only screen and (max-width: 600px) {
    .hero {
        width: 100%;
      
    }
    .hero-desc {
        width: 50%;
        height: 60vh;
    }
}



Medium devices (landscape tablets, 768px and up) 

*/
/* Large devices (laptops/desktops, 992px and up) 

/* Extra large devices (large laptops and desktops, 1200px and up) */
/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/

@media (max-width: 84em) {
  
    .hero {
        width: 100%;
      
    }
    .hero-desc {
        width: 50%;
        height: auto;
    }
 
  }
  
  /**************************/
  /* BELOW 1200px (Landscape Tablets) */
  /**************************/
  
  @media (max-width: 75em) {
    .header {
   
        width: 100%;
      
    
    }
    .logo img, footer img {
       
     
        width: 20rem;
        padding:1.2rem;
        padding-bottom:1.6rem;
      height: 10rem;
    }
  
    .menu{
        margin-right: 1.6rem;
      
      
        font-size: 1.6rem;
    }
    
 
    html {
      /* 9px / 16px  */
      font-size: 56.25%;
    } 
    .hero {
        width: 100%;
      
    }
    .hero-desc {
        width: 50%;
        height: auto;
    }
    .grid-3 {
        grid-template-columns: repeat(2,1fr);
    }
    .grid {
  
        row-gap: 0rem;
        column-gap: 0rem;
        }
     
        .features-content .div-img {
  
            height: 70%;
            width: 70%;
        }
        .features-content {
  
            height: 70%;
            width: 70%;
        }

          .facts{
       
            height: auto;
            padding-bottom: 6.4rem;
            width: 100%;
        
        }
   
  }
  
  /**************************/
  /* BELOW 944px (Tablets) */
  /**************************/
  
  @media (max-width: 59em) {
      
    html {
        /* 8px / 16px = 0.5 = 50% */
        font-size: 50%;
      }
      .hero {
          width: 100%;
        
      }
      .hero-desc {
          width: 50%;
          height: auto;
      }
    .header {
   
        width: 100%;
      
    
    }
    .logo img, footer img {
       
     
        width: 20rem;
        padding:1.2rem;
        padding-bottom:1.6rem;
      height: 10rem;
    }
  
    .menu{
        margin-right: 1.6rem;
      
      
        font-size: 1.6rem;
    }
    .facts{
       
        height: auto;
        padding-bottom: 6.4rem;
        width: 100%;
    
    }
 
    .grid {
  
        row-gap: 1.2rem;
        column-gap: 1.2rem;
        }
     
        .features-content .div-img {
            object-fit: cover;
         
        }
   
    
  }
  @media (max-width: 890px){
      .grid {
          column-gap: 0;

      }
      
  }
  
  /**************************/
  /* BELOW 704px (Smaller tablets) */
  /**************************/
  
  @media (max-width: 44em) {
    .header {
   
        width: 100%;
      
    
    }
    .logo img, footer img {
       
     
        width: 20rem;
        padding:1.2rem;
        padding-bottom:1.6rem;
      height: 10rem;
    }
  
    .menu{
        margin-right: 1.6rem;
      
      
        font-size: 1.6rem;
    }
    
 

    .hero {
        width: 100%;
      
    }
    .hero-desc {
        width: 50%;
        height: auto;
    }
    .facts{
       
        height: auto;
        padding-bottom: 6.4rem;
        width: 100%;
    
    }
  }
  @media (max-width: 681px){
    .facts{
       
        height: auto;
        padding-bottom: 6.4rem;
        width: 100%;
    
    }
    .grid-4 {
        grid-template-columns: repeat(2,1fr);
    }
      
  }
  
  /**************************/
  /* BELOW 544px (Phones) */
  /**************************/
  
  @media (max-width: 34em) {
    .header {
    
        width: 100%;
       
    
    }
    .logo img, footer img {
       
        object-fit: cover;
        width: 20rem;
        padding:1.2rem;
        padding-bottom:1.6rem;
      height: 10rem;
    }
    .nav-bar .nav {
        display: flex;
        align-items: center;
        list-style-type: none;
        gap: 1.2rem;
        font-size: 1.2rem;
        font-weight: 500;
    }
    .menu{
        margin-right: 1.6rem;
      
        text-transform: uppercase;
        color: black;
        font-size: 18px;
    }
    
    .menu:link, .menu:visited {
        text-decoration: none;
        color: #333;
        transition: all 0.1s;
    }
    
    .menu:hover, .menu:active {
        text-decoration: none;
        color: white;
        border-bottom: 3px solid currentColor;
    }
    .hero {
        width: 100%;
      
    }
    .hero-desc {
        width: 50%;
        height: auto;
    }
    .hero-desc h1 {
        padding: 2.4rem;
    }
    .facts{
       
        height: auto;
        padding-bottom: 6.4rem;
        width: 100%;
    
    }


  }
  